<div class="max-w-md pb-8 pt-8 text-center">
    <div class="flex gap-4 flex-row">
      <a href="https://www.instagram.com/hug__a__little/" target="_blank"
         class="bg-gradient-to-r from-pink-400 to-purple-400 text-white py-3 rounded-full font-medium hover:opacity-90 transition w-2/5">
        Mua qua Instagram
      </a>
      <a href="https://www.facebook.com/hug.a.little" target="_blank"
         class="bg-blue-500 text-white py-3 rounded-full font-medium hover:bg-blue-600 transition w-2/5">
        Mua qua Facebook
      </a>
    </div>
  </div>
  