---
import { ClientRouter } from "astro:transitions";
import "../styles/style.css";
const { title } = Astro.props;

import directus from "../../lib/directus";
import type { Global } from "../../lib/directus";
import { readSingleton } from "@directus/sdk";

let global: Global;
try {
  global = await directus.request(readSingleton("globals"));
} catch (error) {
  console.log(error);
  global = {
    id: "",
    accent_color: "",
    description: "",
    directus_url: "",
    favicon: "",
    logo: "",
    logo_dark_mode: "",
    openai_api_key: "",
    social_links: [],
    tagline: "",
    title: "Hug a Little",
    url: "",
  };
}
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>{title || global.title}</title>
    <meta
      name="title"
      content={global.title}
    />
    <meta
      name="description"
      content="Make your sleep gentle"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&family=Poppins:wght@300;400;500;600&display=swap"
      rel="stylesheet"
    />
    <ClientRouter />
  </head>
  <body>
    <slot />
  </body>
</html>
